[submodule ".vim/pack/plugins/start/vim-autoformat"]
	path = .vim/pack/plugins/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/vim-gitgutter"]
	path = .vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/plugins/start/indentpython.vim"]
	path = .vim/pack/plugins/start/indentpython.vim
	url = https://github.com/raven42/indentpython.vim.git
[submodule ".vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/pack/plugins/start/lightline-bufferline"]
	path = .vim/pack/plugins/start/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
[submodule ".vim/pack/plugins/start/nerdcommenter"]
	path = .vim/pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-paste-easy"]
	path = .vim/pack/plugins/start/vim-paste-easy
	url = https://github.com/roxma/vim-paste-easy
[submodule ".vim/pack/plugins/start/searchfold.vim"]
	path = .vim/pack/plugins/start/searchfold.vim
	url = https://github.com/vim-scripts/searchfold.vim.git
[submodule ".vim/pack/plugins/start/tagbar"]
	path = .vim/pack/plugins/start/tagbar
	url = https://github.com/raven42/tagbar.git
[submodule ".vim/pack/plugins/start/devpanel-vim"]
	path = .vim/pack/plugins/start/devpanel-vim
	url = https://github.com/raven42/devpanel-vim.git
[submodule ".vim/pack/plugins/start/vim-flake8"]
	path = .vim/pack/plugins/start/vim-flake8
	url = https://github.com/raven42/vim-flake8.git
[submodule ".vim/pack/plugins/start/vim-easygrep"]
	path = .vim/pack/plugins/start/vim-easygrep
	url = https://github.com/dkprice/vim-easygrep.git
[submodule ".vim/pack/plugins/start/undotree"]
	path = .vim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/pack/plugins/start/nerdtree-git-plugin"]
	path = .vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
